.build {
  padding: 117px 0;

  background: linear-gradient(335.73deg, #e3e7f6 12.46%, rgba(227, 231, 246, 0) 84.19%);

  &__block {
    max-width: 365px;
    text-align: left;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 16px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
