.build {
  padding: 117px 0;

  @include breakpoint(768px) {
    padding: 60px 0;
  }

  background: linear-gradient(335.73deg, #e3e7f6 12.46%, rgba(227, 231, 246, 0) 84.19%);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;

    @include breakpoint(992px) {
      flex-direction: column;
    }
  }

  &__block {
    flex: 0 0 35%;

    max-width: 365px;
    text-align: left;

    @include breakpoint(992px) {
      max-width: 620px;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 16px;
  }

  &__img img {
    max-width: 100%;
  }
}
