.company {
  padding: 100px 0 55px;

  @include breakpoint(768px) {
    padding: 60px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 60px;

    @include breakpoint(992px) {
      flex-direction: column;
    }
  }

  &__block {
    flex: 0 0 50%;

    max-width: 400px;
    text-align: left;

    @include breakpoint(992px) {
      max-width: 620px !important;
      text-align: center;
    }

    &--reverse {
      max-width: 470px;
    }
  }

  &__logo {
    margin-bottom: 32px;

    & img {
      max-width: 100%;
    }

    @include breakpoint(768px) {
      margin-bottom: 15px;
    }

    @include breakpoint(480px) {
      max-width: 200px;
      margin: 0 auto 15px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 27px;

    &:not(:last-child) {
      margin-bottom: 20px;

      @include breakpoint(768px) {
        margin-bottom: 15px;
      }
    }
  }

  &__btn {
    margin-top: 42px;

    @include breakpoint(768px) {
      margin-top: 20px;
    }
  }

  &__img img {
    max-width: 100%;
  }
}
