.contact {
  padding: 100px 0 160px;

  @include breakpoint(768px) {
    padding: 60px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint(992px) {
      flex-direction: column;
      align-items: center;

      gap: 40px;
    }
  }

  &__block {
    flex: 0 0 50%;

    &:last-child {
      transform: translateY(30px);
    }

    @include breakpoint(992px) {
      width: 80%;

      &:last-child {
        transform: translateY(0);
      }
    }
    @include breakpoint(480px) {
      width: 100%;
    }
  }

  &__form {
    padding: 50px 50px 55px;

    display: flex;
    flex-direction: column;

    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;

    @include breakpoint(480px) {
      padding: 30px 30px 35px;
    }
  }
}

.form {
  &__label {
    font-size: 16px;
    line-height: 150%;

    letter-spacing: 0.005em;
    color: #8f90a6;

    margin-bottom: 5px;
  }

  &__input {
    padding: 20px 32px;

    border: 1px solid #e3e7f6;
    border-radius: 6px;

    margin-bottom: 30px;

    @include breakpoint(480px) {
      padding: 15px 25px;
    }
  }

  &__textarea {
    padding: 20px 32px;

    resize: none;
    border: 1px solid #e3e7f6;
    border-radius: 6px;

    min-height: 148px;

    margin-bottom: 30px;
  }

  &__btn {
    width: fit-content;
  }
}

.location {
  &__item {
    max-width: 250px;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 72px;
    }

    margin: 0 auto;

    @include breakpoint(992px) {
      max-width: 420px;
    }
  }

  &__title {
    position: relative;

    padding-left: 60px;
    font-weight: 700;

    color: black;

    margin-bottom: 25px;

    &-1::before {
      background: url('../images/contactPage/contact/01.jpg');
    }

    &-2::before {
      background: url('../images/contactPage/contact/02.jpg');
    }

    &-3::before {
      background: url('../images/contactPage/contact/02.jpg');
    }

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      content: '';

      width: 40px;
      height: 27px;

      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__text {
    line-height: 150%;
    letter-spacing: 0.005em;

    color: black;
  }
}
