.creators {
  padding: 73px 0;
  background: linear-gradient(268.52deg, #e3e7f6 -52.27%, rgba(227, 231, 246, 0) 138.23%);

  @include breakpoint(768px) {
    padding: 60px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;

    @include breakpoint(992px) {
      flex-direction: column;

      text-align: center;
    }
  }

  &__block {
    max-width: 420px;

    @include breakpoint(992px) {
      max-width: 620px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__img {
    flex: 0 0 60%;
    text-align: right;

    & img {
      max-width: 100%;
    }
  }
}
