.culture {
  padding: 65px 0;
  background: linear-gradient(268.52deg, #e3e7f6 -52.27%, rgba(227, 231, 246, 0) 138.23%);

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 97px;

    @include breakpoint(768px) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 36px;

    @include breakpoint(992px) {
      gap: 30px;
    }
  }

  &__item {
    padding: 40px;
    flex: 0 0 30%;

    text-align: left;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;

    @include breakpoint(992px) {
      flex: 0 0 48%;
    }
    @include breakpoint(768px) {
      flex: 0 0 100%;
    }
  }
}

.item__title {
  font-size: 28px;
  line-height: 31px;

  color: $textColor2;

  margin-bottom: 32px;

  @include breakpoint(768px) {
    font-size: 26px;
    line-height: 25px;

    margin-bottom: 20px;
  }

  &--career {
    position: relative;

    padding-left: 54px;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      content: '';

      width: 37px;
      height: 37px;

      background: url('../images/careerPage/culture/flexibility.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
