.innovation {
  padding: 120px 0;

  @include breakpoint(768px) {
    padding: 60px 0;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 113px;

    @include breakpoint(768px) {
      margin-bottom: 60px;
    }
  }

  &__slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.slider__item {
  border-radius: 8px;

  & img {
    max-width: 100%;
  }
}

// .swiper {
//   overflow-y: unset !important;
// }

.swiper-button-prev,
.swiper-button-next {
  top: unset !important;
  bottom: -45px !important;

  &::after {
    content: '' !important;
  }
}

// .swiper-wrapper {
//   align-items: center;
// }

// .swiper-button-prev {

// }
