.innovation {
  padding: 120px 0;

  @include breakpoint(768px) {
    padding: 60px 0 15px;
  }

  &__inner {
    text-align: center;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 70px;

    @include breakpoint(768px) {
      margin-bottom: 15px;
    }
  }

  &__buttons {
    text-align: left;

    @include breakpoint(480px) {
      display: none;
    }
  }
}

.swiper-wrapper {
  padding: 45px 0;
}

.swiper-button-disabled {
  svg {
    path {
      fill: #c2d1d9;
    }
  }
}

.slider__item {
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
  border-radius: 8px;

  min-height: 119px;

  & img {
    max-width: 100%;
  }
}

.slider-button-next,
.slider-button-prev {
  background: none;
  border: none;
}

.slider-button-prev {
  transform: rotate(180deg) translateY(3.5px);

  margin-right: 8px;
}
