.join {
  padding: 70px 0;

  &__inner {
    text-align: center;
  }

  &__tile {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 100px;
  }

  &__item {
    padding: 35px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 17px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__btn {
    margin-top: 68px;
  }
}

.item__left {
  text-align: left;
}

.left {
  &__title {
    font-size: 28px;
    line-height: 27px;

    color: $textColor;

    margin-bottom: 24px;
  }

  &__descr {
    display: flex;

    font-size: 20px;
    line-height: 27px;

    color: #8f90a6;

    gap: 28px;
  }

  &__time {
    display: block;

    padding-left: 28px;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      content: '';

      width: 22px;
      height: 22px;

      background: url('../images/careerPage/join/time.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__location {
    display: block;
    position: relative;

    padding-left: 28px;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      content: '';

      width: 22px;
      height: 22px;

      background: url('../images/careerPage/join/location.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
