.know {
  padding: 80px 0 137px;

  &--career {
    padding-bottom: 112px;
  }

  @include breakpoint(768px) {
    padding: 60px 0;
  }

  &__block {
    max-width: 750px;
    margin: 0 auto;

    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__btn {
    &:first-child {
      margin-right: 20px;
    }

    @include breakpoint(480px) {
      display: block;

      &:first-child {
        margin: 0 0 15px;
      }

      &--career {
        &:first-child {
          margin-bottom: 0;
        }
      }
    }

    &--career {
      &:first-child {
        margin-right: 0;
      }
    }
  }
}
