.know {
  padding: 80px 0 137px;

  &--career {
    padding-bottom: 112px;
  }

  &__block {
    max-width: 750px;
    margin: 0 auto;

    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__btn {
    &:first-child {
      margin-right: 20px;
    }

    &--career {
      &:first-child {
        margin-right: 0;
      }
    }
  }
}
