.life {
  padding: 58px 0;
  background: linear-gradient(270.76deg, #e3e7f6 -55.5%, rgba(227, 231, 246, 0) 145.36%);

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    gap: 30px;

    @include breakpoint(992px) {
      align-items: center;
      text-align: -webkit-center;
    }
  }

  &__block {
    max-width: 330px;
    text-align: left;

    @include breakpoint(992px) {
      max-width: 620px;
      text-align: center;
    }
  }

  &__title {
    max-width: 110px;

    margin-bottom: 16px;

    @include breakpoint(992px) {
      max-width: 620px;
    }
  }

  &__item {
    flex: 0 0 48%;

    & img {
      max-width: 100%;
    }

    @include breakpoint(992px) {
      flex: 0 0 100%;
    }
  }
}
