.we {
  padding: 32px 0 80px;
  background: linear-gradient(268.52deg, #e3e7f6 -52.27%, rgba(227, 231, 246, 0) 138.23%);

  @include breakpoint(768px) {
    padding: 60px 0;
  }

  &--reverse {
    background: unset;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;

    @include breakpoint(992px) {
      flex-direction: column;
    }
  }

  &__block {
    max-width: 400px;
    text-align: left;

    flex: 0 0 40%;

    @include breakpoint(992px) {
      max-width: 620px;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__img {
    img {
      max-width: 100%;
    }
  }
}
