<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="top__block">
        <a class="footer__logo"><img src="assets/images/footer/logo.svg" alt="logo" /></a>
        <p class="footer__text">
          Mozil builds extensions, plugins and apps to simplify work for businesses.
        </p>
      </div>

      <div class="top__block">
        <div class="footer__column">
          <span class="column__title">Products</span>
          <ul class="column__list">
            <li class="column__item"><a href="">CookieYes</a></li>
            <li class="column__item"><a href="">Webtoffee</a></li>
          </ul>
        </div>

        <div class="footer__column">
          <span class="column__title">About</span>
          <ul class="column__list">
            <li class="column__item"><a href="/Mozi/about.html">About us</a></li>
            <li class="column__item"><a href="/Mozi/career.html">Career</a></li>
            <li class="column__item"><a href="/Mozi/contact.html">Contact</a></li>
          </ul>
        </div>

        <div class="footer__column">
          <span class="column__title">Follow us</span>
          <ul class="column__social">
            <li class="social__item">
              <a href=""
                ><img src="assets/images/footer/social/facebook.svg" alt="social item"
              /></a>
            </li>
            <li class="social__item">
              <a href=""><img src="assets/images/footer/social/twitter.svg" alt="social item" /></a>
            </li>
            <li class="social__item">
              <a href=""
                ><img src="assets/images/footer/social/instagram.svg" alt="social item"
              /></a>
            </li>
            <li class="social__item">
              <a href=""
                ><img src="assets/images/footer/social/linkedin.svg" alt="social item"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- container -->
  <hr class="footer__line" />
  <div class="container">
    <div class="footer__bottom">
      <div class="bottom__block">
        <p class="bottom__reserved">© 2022 Mozi - All right reserved</p>
        <a href="" class="bottom__link">Terms & Conditions</a>
      </div>
    </div>
  </div>
  <!-- container -->
</footer>
<!-- footer -->
