<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="/" class="header__logo"> <img src="assets/images/header/logo.svg" alt="logo" /></a>

      <nav class="header__nav">
        <ul class="header__list">
          <li class="list__item"><a href="/products.html" class="nav__link">Products</a></li>
          <li class="list__item"><a href="/aboutUs.html" class="nav__link">About us</a></li>
          <li class="list__item"><a href="/products.html" class="nav__link">Contact</a></li>
          <li class="list__item">
            <a href="/products.html" class="nav__link btn">We're hiring!</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- container -->
</header>
<!-- header -->
